/* Base style */
body {
  color: #444;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
a {
  color: #444;
  text-decoration: underline;
}
p, p.lead {
  margin-bottom: 10px;
}
h6 {
  font-size: 16px;
  font-weight: 400;
}
.container {
  max-width: 860px;
}
.section {
  margin-top: 30px;
}
.section:first-child {
  margin-top: 40px;
  margin-bottom: 20px;
}
.indicator {
  text-align: right;
  margin-right: 20px;
}
.indicator h4 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2px 0 0;
}
.logotype {
  margin: 0;  padding: 0;
  font-size: 28px;  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.inline {
  list-style-type: none;
}
.inline li {
  display: block;
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
}
.nav {
  margin: 0 0 0 1px;  padding: 0;
}
.nav li {
  font-size: 15px;
  text-transform: uppercase;
}
.nav li a {
  text-decoration: none;
  letter-spacing: 1px;
}

.work .column-66 {
  padding: 15px 20px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,fbfbfb+100 */
  background: #dcdcdc; /* Old browsers */
  background: -moz-linear-gradient(left,  #dcdcdc 0%, #fbfbfb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #dcdcdc 0%,#fbfbfb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #dcdcdc 0%,#fbfbfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#fbfbfb',GradientType=1 ); /* IE6-9 */
}
.work .column-66 h5 {
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 5px;
}
.work .column-66 p {
  font-size: 15px;
  line-height: 19px;
}
.work .column-66 p span {
  font-weight: 400;
  font-style: italic;
}
.work .column-66 a {
  font-size: 12px;
  text-transform: uppercase;
}
.work .column-33 {
  position: relative;
}
.work .column-33 .logo {
  position: absolute;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Bookt */
.work-bookt .column-33 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1fc1c6+0,2786ce+100 */
  background: #1fc1c6; /* Old browsers */
  background: -moz-linear-gradient(left,  #1fc1c6 0%, #2786ce 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #1fc1c6 0%,#2786ce 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #1fc1c6 0%,#2786ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fc1c6', endColorstr='#2786ce',GradientType=1 ); /* IE6-9 */
}
.logo-bookt {
  background-image: url(../images/work-bookt.png);
}

/* OUN */
.work-oun .column-33 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#536171+0,3d4c5b+100 */
  background: #536171; /* Old browsers */
  background: -moz-linear-gradient(left,  #536171 0%, #3d4c5b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #536171 0%,#3d4c5b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #536171 0%,#3d4c5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#536171', endColorstr='#3d4c5b',GradientType=1 ); /* IE6-9 */
}
.logo-oun {
  background-image: url(../images/work-oun.png);
}

/* Flatterbox */
.work-flatterbox .column-33 {
  background: #0f2a4d; /* Old browsers */
}
.logo-flatterbox {
  background-image: url(../images/work-flatterbox.png);
}


.slider { position: relative; }
.frame {
  width: 740px;
  height: 294px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.image-frame {
  width: 470px;
}
.child-slider {
  width: 470px;  height: 290px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.slides {
  display: inline-block;
  margin: 0;
}
.slides ul {
  margin: 0; padding: 0;
}
.slides li {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 490px; height: 294px;
}
.slides .parent-slide {
  padding-left: 490px;
  width: 740px;
}
.slides .slide-image {
  position: absolute;
  top: 0;  left: 0;
}
.slides .parent-slide h6 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}
.slides .parent-slide em {
  display: block;
  margin: 0 0 15px;
  font-size: 13px;
  color: #999;
}
.slides .parent-slide p {
  margin: 0;
  white-space: normal;
  font-size: 14px;
}
.unslider {
  position: relative;
}
.unslider-arrow {
  position: absolute;
  top: 0;  right: 0;
  width: 30px;
}
.unslider-arrow.prev {
  left: auto;
  right: 50px;
}

.services p {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 20px;
}


/* Larger than mobile screen */
@media (max-width: 40.0rem) {
  .nav {
    margin-top: 10px;
  }
  .indicator {
    margin-bottom: 10px;
    max-width: 100% !important;
    text-align: left;
  }
  .indicator h4 {
    font-size: 20px;
  }
  .child-slider {
    width: 100%;  height: auto;
    line-height: 0;
  }
  .child-slider img {
    width: 100%;
  }
  .child-slider li {
    width: 100%;  height: auto;
    margin: 0;  padding: 0;
    line-height: 0;
  }
  .slides .parent-slide {
    padding: 200px 0 0;
    height: auto;
    width: 100%;
  }
  .unslider-arrow {
    top: 220px;
  }
  .column {
    max-width: 100% !important;
    flex: 100% !important;
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  p.lead {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }
  .work {
    width: 740px;
    height: 166px;
  }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {  }

.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
